.nav-sections-container {
  display: flex;
}

.home-container,
.dark-home-container {
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  width: 85vw;
  background-color: #f9f9f9;
}

.dark-home-container {
  background-color: #181818;
}

.banner-container {
  padding-top: 30px;
  padding-left: 40px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  width: 70vw;
  height: 30vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.home-website-logo-imgs {
  height: 4vh;
  margin-right: 15px;
}

.premium-msg {
  font-size: 20px;
  width: 380px;
}

.get-it-now-btn {
  height: 35px;
  width: 150px;
  background-color: transparent;
}

.close-btn,
.search-btn,
.dark-search-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.dark-search-btn {
  background-color: #0f0f0f;
  color: #475569;
}

.close-btn {
  align-self: flex-end;
}
.search-container {
  margin-top: 15px;
  display: flex;
}

.search-input,
.searchdark-input {
  height: 30px;
  width: 30vw;
  box-shadow: 0px 0px 1px 0px;
  border-width: 0px;
  outline: none;
  padding-left: 10px;
  color: #475569;
}

.searchdark-input {
  background-color: #0f0f0f;
  border: 1px solid #475569;
}

.search-icon-sty {
  margin-left: 10px;
  box-shadow: 0px 0px 1px 0px;
  height: 30px;
  width: 40px;
}

.videos-lists-container {
  list-style-type: none;
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

.videonotfound-container,
.failure-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.no-video-found-img,
.failure-view-img {
  height: 30vh;
}

.no-search-title,
.failure-title {
  font-size: 20px;
}

.no-search-info,
.failure-info {
  font-size: 15px;
}

.retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  height: 25px;
  width: 90px;
  border-width: 0px;
  border-radius: 5px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
